name: Translations

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths:
      - "**strings.json"

env:
  DEFAULT_PYTHON: "3.13"

jobs:
  upload:
    name: Upload
    if: github.repository_owner == 'home-assistant'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Upload Translations
        run: |
          export LOKALISE_TOKEN="${{ secrets.LOKALISE_TOKEN }}"
          python3 -m script.translations upload
